@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700&display=swap');


  

body {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* O el peso que necesites */
    font-style: normal;
    text-align: center;
    background-color: #77779D;
    margin: 0;
    padding: 0;
    color: #ffffff;
    overflow: hidden;
}
.container {
    padding: 20px;
}
h1 {
    font-size: 6rem;
    color: #ffffff;
}
.boton {
    display: inline-block;
    padding: 12px 24px;
    background-color: #ff69b400;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
}
.boton:hover {
    background-color: #ff1493;
}

.confetti {
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: red;
            opacity: 0.8;
            border-radius: 50%;
            animation: fall linear infinite;
        }

#contador {
    font-family: 'Arial', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(45deg, #ff4e513d, #fc913a41);
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0);
}

#contador span {
    display: inline-block;
    min-width: 50px;
    padding: 10px;
    background: rgba(202, 12, 12, 0.2);
    border-radius: 5px;
    margin: 0 5px;
}

#contador span::after {
    content: attr(data-label);
    display: block;
    font-size: 0.8rem;
    font-weight: normal;
    margin-top: 5px;
    text-transform: uppercase;
}

@keyframes fall {
            to {
                transform: translateY(100vh) rotate(720deg);
                opacity: 0;
            }
        }

/* Rotación automática */
@keyframes rotar {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
