@keyframes cambiarColor {
    0% { background: #ff4e50; }
    25% { background: #fc913a; }
    50% { background: #f9d423; }
    75% { background: #3b8d99; }
    100% { background: #ff4e50; }
}

body {
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    background-color: #f7e4f2;
    margin: 0;
    padding: 0;
    animation: cambiarColor 10s infinite alternate;
    transition: background 1s ease-in-out;
}
.container {
    padding: 20px;
}
h1 {
    font-size: 2rem;
    color: #ff69b4;
}
.boton {
    display: inline-block;
    padding: 12px 24px;
    background-color: #ff69b4;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
}
.boton:hover {
    background-color: #ff1493;
}

#contador {
    font-family: 'Arial', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(45deg, #ff4e513d, #fc913a41);
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0);
}

#contador span {
    display: inline-block;
    min-width: 50px;
    padding: 10px;
    background: rgba(202, 12, 12, 0.2);
    border-radius: 5px;
    margin: 0 5px;
}

#contador span::after {
    content: attr(data-label);
    display: block;
    font-size: 0.8rem;
    font-weight: normal;
    margin-top: 5px;
    text-transform: uppercase;
}


/* Rotación automática */
@keyframes rotar {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
.rotar-auto {
    width: 150px;
    animation: rotar 3s linear infinite;
}

/* Rotación al hacer clic */
.rotar-click {
    width: 150px;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
}
