@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; 
    font-style: normal;
    text-align: center;
    background-color: #77779D;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

.invitacion {
    width: 100%;
    max-width: 450px;
    background: #77779D;
    border-radius: .1px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container {
    padding: 50px;
}
h1 {
    font-size: 6rem;
    color: #ffffff;
    z-index: 10;
    margin-top: -9rem;
}
.boton {
    display: inline-block;
    padding: 12px 24px;
    background-color: #ff69b400;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
}
.boton:hover {
    background-color: #ff1493;
}

.confetti {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgb(140, 0, 255);
    opacity: 0.8;
    border-radius: 50%;
    animation: fall linear infinite;
}

.imag-flower-1{
    width: 90%;
    opacity: 90%;
    transform: rotate(25deg) scaleX(-1) translateX(-9rem);
    z-index: 2;
}

.imag-flower-2{
    width: 100%;
    opacity: 80%;
    transform: rotate(deg) scaleX(-1) translateX(-10rem);
    margin-left: -15rem;
    margin-bottom: 3rem;
    z-index: 2;
}

#contador {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; 
    font-style: normal;
    font-size: 1.2rem;
    color: #fff;
    margin-top: -10rem;
}

#contador span::after {
    content: attr(data-label);
    display: block;
    font-size: 0.8rem;
    font-weight: normal;
    margin-top: 5px;
    text-transform: uppercase;
}

#contenedor3D{
    position: fixed;
    inset: 0;
    z-index: 100;
    pointer-events: none;
}
#map {
    height: 500px;
    width: 100%;
}

@keyframes fall {
    to {
        transform: translateY(100vh) rotate(720deg);
        opacity: 0;
    }
}
